.file-upload {
  border: 2px dashed #aaa;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  transition: border-color 0.3s, background-color 0.3s;
}

.file-upload--active {
  border-color: #007bff;
  background-color: #f0f8ff;
}

.file-upload__input {
  display: none;
}

.file-upload__label {
  font-size: 14px;
  color: #333;
}
.file-upload__label u {
  cursor: pointer;
}
.file-upload__label--active {
  color: #007bff;
}
.file-upload__label--error {
  color: #ff0000;
}
.file-upload__error-message {
  color: #ff0000;
  font-size: 12px;
  margin-top: 8px;
}
.file-upload__file-list {
  margin-top: 10px;
  text-align: left;
}
