/* RequestList.css */
.request-list {
  margin: 5rem 0.5rem;
  padding: 2rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(190, 151, 25, 0.904);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.request-list__title {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  color: #6f0909;
  justify-content: center;
  text-align: center;
}

.request-list__loading,
.request-list__error {
  padding: 1rem;
  text-align: center;
  color: #666;
}
@media (max-width: 600px) {
  .request-list {
    padding: 5px;
  }
  .request-list__title {
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
  }
}
