.certificates-container {
  padding: 80px 20px;
  background: linear-gradient(to bottom, #ffffff, #efeeec);
  color: #1f2937;
  text-align: center;
  margin: 0 auto;
  overflow: hidden; /* Important */
}

.certificates-title {
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 700;
  color: #872513;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* .certificates-description {
  font-size: 1.5rem;
  padding: 20px 0;
  margin-bottom: 2.5rem;
  color: #4b5563;
  line-height: 1.5;
  animation: scroll 50s linear infinite;
} */
.certificates-divider {
  margin: 2rem auto;
  width: 80%;
  height: 2px;
  background-color: #631d0f62;
  box-shadow: 0 0 10px #631d0f;
  border: none;
}
.certificates-images {
  display: flex;
  align-items: center;
  gap: 4rem;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.certificates-images:hover {
  animation-play-state: paused;
}

.certificates-image {
  flex-shrink: 0;
  width: 350px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.certificates-image:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 768px) {
  .certificates-title {
    font-size: 3rem;
  }

  .certificates-description {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .certificates-title {
    font-size: 1.8rem;
  }

  .certificates-description {
    font-size: 0.9rem;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
