.download-forms-section {
  padding: 80px 20px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #dbd4ca, #e2c26a);
  /* background: linear-gradient(to bottom, #e2c26a, #dbd4ca); */
  text-align: center;
}
.download-forms {
  margin-top: 10rem;
  text-align: center;
}
.download-forms h4 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #872513;
}
.download-subtitle {
  font-size: 1.2rem;
  margin: 5rem 0;
  color: #4b5563;
}
.download-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.download-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: #176143;
  color: white;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.download-btn:hover {
  transform: translateY(-3px);
  background-color: #23840b;
  box-shadow: 0 6px 12px rgba(35, 132, 11, 0.5);
  outline: none;
}
@media screen and (max-width: 768px) {
  .download-forms h4 {
    font-size: 2.5rem;
  }

  .download-subtitle {
    font-size: 1rem;
    margin: 4rem 0;
  }

  .download-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 480px) {
  .download-forms h4 {
    font-size: 2rem;
  }

  .download-subtitle {
    font-size: 0.95rem;
    margin: 5rem 0;
  }

  .download-btn {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    border-radius: 8px;
  }
}
