.hero {
  background: linear-gradient(to right, #010204, #031354);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  position: relative;
  overflow: hidden;
  direction: ltr;
}

.hero-left,
.hero-right {
  position: relative;
  z-index: 2;
}

.hero-left {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 90vh;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 4px 1px 20px 4px rgba(199, 179, 30, 0.56);
  flex: 1.5;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 1s ease-in-out;
  display: block;
}

.hero-right {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  flex: 1;
}

.hero-right h2 {
  font-size: 3.2em;
  margin-bottom: 1rem;
  line-height: 1.1;
  color: #e2c26a;
  text-shadow: 1.2px 1.2px 5px rgba(218, 62, 38, 0.431);
}

.hero-title {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
  color: #72bd67a0;
  text-shadow: 1px 1px 20px rgb(189, 178, 177);
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.button-primary,
.RequestService-btn1 {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #a0bea94a;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
  width: fit-content;
  margin-top: 1rem;
}

.button-primary:hover,
.RequestService-btn1:hover {
  transform: scale(1.05);
  color: #99ea99e8;
  border: 1px solid #c0c4c1a0;
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem;
  }

  .hero-left,
  .hero-right {
    flex: unset;
    width: 100%;
  }

  .hero-left {
    max-height: 50vh;
  }

  .hero-right {
    padding-left: 0;
    margin-top: 2rem;
    text-align: center;
  }

  .hero-right h2 {
    font-size: 2.4rem;
    margin-top: 3rem;
  }
  .hero-buttons {
    justify-content: center;
  }

  .button-primary,
  .RequestService-btn1 {
    margin: 0 auto 5rem;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 1rem;
    height: auto;
  }
  .hero-right h2 {
    font-size: 1.8rem;
  }

  .hero-right p {
    font-size: 1rem;
  }
  .hero-left {
    max-height: 40vh;
    aspect-ratio: 4 / 3;
  }
  .hero-title {
    font-size: 1em;
    margin-bottom: 1rem;
  }
  .hero-buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    gap: 0.5rem;
  }
  .button-primary,
  .RequestService-btn1 {
    width: 80%;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    margin: 10px auto 1rem;
  }

  .hero-image {
    max-height: 40vh;
  }
}
