.services-section {
  padding: 160px 20px 100px;
  background: linear-gradient(to bottom, #ffffff, #efeeec);
  /* background: linear-gradient(to bottom, #e2c26a, #dbd4ca); */
  text-align: center;
}

.service-title {
  font-size: 7rem;
  margin-bottom: 17rem;
  color: #872513;
}
.services-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.service-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 13rem;
  text-decoration: none;
  color: inherit;
}

.service-row.reverse {
  flex-direction: row-reverse;
}

.service-text {
  flex: 1;
  text-decoration: none;
  color: inherit;
}

.service-text h2 {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 1px 1px 5px rgba(47, 47, 47, 0.3);
  color: #872513;
}

.service-image-container {
  flex: 1.5;
}

.service-image-container img {
  width: 100%;
  max-width: 800px;
  height: 380px;
  object-fit: cover;
  border-radius: 0;
  transition: 0.4s;
  border-radius: 5rem 0 5rem 0;
  box-shadow: 2px 2px 30px rgba(216, 92, 92, 0.643);
}

/* .service-row:hover img {
  transform: scale(1.03);
} */

.service-text h2:hover {
  color: #0056b3;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.65);
}

@media (max-width: 768px) {
  .service-title {
    font-size: 4rem;
    margin-bottom: 13rem;
  }
  .services-list {
    gap: 20px;
  }

  .service-row,
  .service-row.reverse {
    flex-direction: column;
  }

  .service-text {
    text-align: center;
  }
  .service-text h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .service-image-container img {
    height: 280px;
  }
}

@media (max-width: 480px) {
  .service-title {
    font-size: 2rem;
    margin-bottom: 8rem;
  }
  .services-list {
    gap: 0;
  }
  .service-text h2 {
    font-size: 1rem;
    font-weight: 500;
  }

  .service-image-container img {
    height: 220px;
  }
}
