.team-section {
  padding: 160px 20px 100px;
  background: linear-gradient(to bottom, #dbd4ca, #e2c26a);
  /* background: linear-gradient(to bottom, #e2c26a, #dbd4ca); */
  text-align: center;
}

.team-title {
  font-size: 7rem;
  color: #872513;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.team-card {
  background-color: transparent;
  border-radius: 100px 10px 100px 10px / 10px 100px 10px 100px;
  border: 0.1px solid #c32a082c;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 2rem 1.5rem;
  text-align: center;
}

.team-card:hover {
  background-color: #f9f9f1ef;
  transform: translateY(-8px);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.team-photo {
  width: 120px;
  height: 120px;
  border-radius: 50% 100% 50% 50% / 50% 50% 100% 50%;
  object-fit: cover;
  margin-bottom: 1.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.team-name {
  font-size: 1.4rem;
  font-weight: 700;
  color: #a24d03;
  margin-bottom: 0.5rem;
  font-family: Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 2px rgba(126, 125, 125, 0.28);
}

.team-role {
  font-size: 1rem;
  font-weight: 500;
  color: #444d5a;
}

@media (max-width: 1024px) {
  .team-title {
    font-size: 4.5rem;
  }

  .team-section {
    padding: 140px 20px 80px;
  }
}

@media (max-width: 760px) {
  .team-title {
    font-size: 3rem;
  }

  .team-grid {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .team-card {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .team-title {
    font-size: 2rem;
  }

  .team-card {
    max-width: 250px;
  }

  .team-photo {
    width: 100px;
    height: 100px;
  }

  .team-name {
    font-size: 1.1rem;
  }

  .team-role {
    font-size: 0.9rem;
  }
}
