.Auth-Login,
.Auth-Logout {
  color: #000000;
  background: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  margin-bottom: 3rem;
}
.Auth-Login:hover,
.Auth-Logout:hover {
  color: #e61b1b;
  transform: scale(1.2);
  transition: color 0.3s, transform 0.3s;
}

@media (max-width: 768px) {
  .Auth-Login,
  .Auth-Logout {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  .Auth-Login,
  .Auth-Logout {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}