.hero {
  background: linear-gradient(to bottom, #5278be, #dbd4ca);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
}

.hero-left,
.hero-right {
  flex: 1;
  position: relative;
  z-index: 2;
}

.hero-left {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 70vh;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 10px 20px 6px rgba(47, 47, 47, 0.689);
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 1s ease-in-out;
  display: block;
}

.hero-right {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.hero-right h2 {
  font-size: 3.2em;
  margin-bottom: 1rem;
  line-height: 1.1;
  color: #e2c26a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.hero-right p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  opacity: 0.85;
  color: rgb(3, 24, 63);
  text-shadow: 1px 1px 10px rgb(164, 126, 126);
}

.hero a.button-primary {
  background-color: white;
  color: #000000;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
  width: fit-content;
  margin-top: 1rem;
}

.hero a.button-primary:hover {
  transform: scale(1.05);
  color: rgb(255, 8, 0);
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem;
  }

  .hero-left,
  .hero-right {
    flex: unset;
    width: 100%;
  }

  .hero-left {
    max-height: 50vh;
  }

  .hero-right {
    padding-left: 0;
    margin-top: 2rem;
    text-align: center;
  }

  .hero-right h2 {
    font-size: 2.4rem;
    margin-top: 3rem;
  }

  .hero-right p {
    font-size: 1.1rem;
    margin-top: 4rem;
  }
  .hero a.button-primary {
    margin: 0 auto 5rem;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 1rem;
    height: auto;
  }
  .hero-right h2 {
    font-size: 1.8rem;
  }

  .hero-right p {
    font-size: 1rem;
  }
  .hero-left {
    max-height: 40vh;
    aspect-ratio: 4 / 3;
  }

  .hero a.button-primary {
    width: 80%;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    margin: 10px auto 3rem;
  }

  .hero-image {
    max-height: 40vh;
  }
}
