.Auth-Login {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  color: #000000; 
  font-weight: 500;
  transition: 0.2s;
  background: none;
  margin-left: 5px;
}
.Auth-Login:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: #c81f1f; 
}

.Auth-Logout {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  color: #17971c; 
  font-weight: 500;
  transition: 0.2s;
  background: none;
  margin-left: 5px;
}
.Auth-Logout:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.UserIcon-Login {
  color: #000000; /* black */
}

.UserIcon-Login:hover {
  color: #c81f1f; /* darker red on hover */
}

.UserIcon-Logout {
  color: #23be29; /* green */
}
