.team-profile-page {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.profile-banner img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1100px;
  margin: -80px auto 60px;
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  padding: 40px;
  gap: 40px;
}

/* Left side */
.profile-left {
  flex: 1;
  max-width: 300px;
  text-align: center;
  border-right: 2px solid #eee;
  padding-right: 20px;
}

.profile-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #c8771d;
  margin-bottom: 20px;
}

.profile-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 5px;
}

.profile-role {
  font-size: 1.1rem;
  color: #666;
}

/* Right side */
.profile-right {
  flex: 2;
}

.about-title {
  font-size: 1.5rem;
  color: #872513;
  font-weight: 700;
  margin-bottom: 1rem;
}

.about-text {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.profile-contact-info {
  background-color: #f1f5f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.profile-contact-info h4 {
  margin-bottom: 10px;
  color: #872513;
  font-weight: 600;
}

.profile-contact-info a {
  color: #005fa3;
  text-decoration: none;
  transition: color 0.3s;
}

.profile-contact-info a:hover {
  color: #c8771d;
  text-decoration: underline;
}

/* Back button */
.back-button {
  color: #c8771d;
  border: transparent;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  width: 180px;
  text-align: center;
  margin: 0 auto 40px;
  display: block;
}
.back-button:hover {
  border: 1px solid #c8771d;
}

/* Responsive */
@media (max-width: 900px) {
  .profile-container {
    flex-direction: column;
    padding: 30px;
    gap: 20px;
  }

  .profile-left {
    border-right: none;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
  }
  .profile-photo {
    width: 130px;
    height: 130px;
    margin: 20px;
  }

  .profile-name {
    font-size: 1.4rem;
    color: #222;
    margin: 20px;
    align-self: center;
  }

  .profile-role {
    font-size: 1rem;
    color: #666;
    margin: 20px;
    align-self: center;
  }

  .profile-right {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .profile-container {
    padding: 15px;
  }

  .about-title {
    font-size: 1.4rem;
  }

  .about-text {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .profile-banner img {
    height: 250px;
  }
  .profile-container {
    margin: -50px auto 60px;
    border-radius: 12px;
    padding: 10px;
    align-items: center;
  }

  .profile-left {
    padding: 10px;
    flex-direction: column;
  }
  .profile-photo {
    width: 110px;
    height: 110px;
    border: 1px solid #c8771d;
    margin-bottom: 10px;
  }
  .profile-name {
    font-size: 1.1rem;
    margin: 10px;
  }

  .profile-role {
    font-size: 0.9rem;
    color: #666;
  }

  .profile-right {
    width: 90%;
  }

  .about-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .about-text {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .profile-contact-info {
    padding: 15px;
    margin: 10px 0;
  }

  .profile-contact-info h4 {
    font-weight: 400;
  }

  .back-button {
    padding: 5px 10px;
    font-size: 1rem;
  }
}
