.team-profile-page {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  min-height: 100vh;
}

.profile-banner img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin: -80px auto 40px;
  background: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
}

.profile-sidebar {
  background-color: #f1f5f9;
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sidebar-img-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.sidebar-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 2px solid #cc5f0c;
}

.profile-sidebar h2 {
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: #222;
}

.profile-sidebar h4 {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}
.sidebar-tab-menu {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.tab-menu-team {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.tab-menu-team button {
  background: none;
  border: 2px solid transparent;
  color: #1a82d7;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.tab-menu-team button:hover {
  text-decoration: underline;
  transform: scale(1.05);
}
.tab-menu-team .active {
  font-weight: 999;
  color: #005fa3;
  transform: scale(1.05);
  text-decoration: underline;
}

.back-button {
  margin-top: 50px;
  text-decoration: none;
  color: #fff;
  background-color: #0078d7;
  padding: 8px 10px;
  border-radius: 4px;
}

.profile-content {
  flex: 1;
  padding: 40px;
}
.tab-content {
  white-space: pre-line;
  word-wrap: break-word;
}

.tab-content h3 {
  margin-bottom: 15px;
  color: #0078d7;
}

.tab-content p,
.tab-content li {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
}

.cv-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: #0078d7;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.cv-link:hover {
  background-color: #005fa3;
}
