/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9fafb;
  color: #333;
  line-height: 1.6;
}
/* Sections */
section {
  padding: 4rem 2rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}