@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
/* Import Vazir font */
@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.0.0/dist/font-face.css");

:root {
  /* font-family: PT Serif, Arial, Helvetica, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[lang="fa"] body {
  font-family: "Vazir", sans-serif;
  direction: rtl;
  text-align: right;
}
html[lang="en"] body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  direction: ltr;
}

body {
  font-family: "Vazir", "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #333;
    background-color: #ffffff;
  }
}
