:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #333;
  background-color: #5b84cf;
  /* background: linear-gradient(to right, #ffffff, #052053); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #333;
    background-color: #5b84cf;
    /* background: linear-gradient(to right, #ffffff, #052053); */
  }
}
